.galleryContent {
  display: flex;
  justify-content: center;
}
.listItems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  @media (max-width: 935px) {
    justify-content: center;
  }
}
